// Options
.sv-gutenform-radio-options {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sv-gutenform-radio-options .sv-gutenform-radio-option {
    background: rgba( 0, 0, 0, .06 );
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.sv-gutenform-radio-options .sv-gutenform-radio-option > div:last-of-type,
.sv-gutenform-radio-options .sv-gutenform-radio-option > div:last-of-type > div,
.sv-gutenform-radio-options .sv-gutenform-radio-option > .sv-gutenform-radio-option-flex > div {
    margin-bottom: 0 !important;
}

.sv-gutenform-radio-options .sv-gutenform-radio-option .sv-gutenform-radio-option-flex {
    display: flex;
    align-items: flex-start;
}

.sv-gutenform-radio-options .sv-gutenform-radio-option .sv-gutenform-radio-option-flex > div:first-of-type {
    margin-right: 5px;
}

.sv-gutenform-radio-options .sv-gutenform-radio-option .components-icon-button {
    margin-left: auto;
    padding: 0;
}

.sv-gutenform-radio-options .sv-gutenform-radio-option .components-icon-button > svg {
    width: 18px;
    height: 18px;
}