.wp-block-straightvisions-sv-forms-form .sv_forms_body .wp-block-straightvisions-sv-forms-hidden input.components-text-control__input {
    border-color: #1e1e1e; 
    border-radius: 4px;
    background-color: #1e1e1e;
    color: #c4c4c4;
}