.wp-block-straightvisions-sv-gutenform-admin-mail > .header,
.wp-block-straightvisions-sv-gutenform-admin-mail > .body {
    position: relative;
    z-index: 1;
}

.wp-block-straightvisions-sv-gutenform-admin-mail > .header {
    color: white;
}

.wp-block-straightvisions-sv-gutenform-admin-mail > .header > .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.wp-block-straightvisions-sv-gutenform-admin-mail > .header > .description {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
}

.wp-block-straightvisions-sv-gutenform-admin-mail > .header::after,
.wp-block-straightvisions-sv-gutenform-admin-mail > .body::after  {
    z-index: -1;
    content: "";
    position: absolute;
    border: 1px solid transparent;
    border-left: none;
    box-shadow: none;
    pointer-events: none;
    outline: 1px solid transparent;
    right: -14px;
    left: -14px;
    top: -14px;
    bottom: -14px;
}

.wp-block-straightvisions-sv-gutenform-admin-mail > .header::after {
    background-image: linear-gradient(to right top, #ffa62e, #fc9129, #f77c27, #f16529, #ea4d2c);
    border: none;
}

.wp-block-straightvisions-sv-gutenform-admin-mail > .body::after {
    border: 3px solid;
    border-image-source: linear-gradient(to right bottom, #ffa62e, #fc9129, #f77c27, #f16529, #ea4d2c);
    border-image-slice: 1;
}