// Select
.wp-block-straightvisions-sv-gutenform-select {
	margin-bottom: .5em;
}

.wp-block-straightvisions-sv-gutenform-select label {
	display: block;
	margin-bottom: .5em;
}

.wp-block-straightvisions-sv-gutenform-select select.components-select-control__input {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 2px;
	border-color: rgba( 0, 0, 0, .5 );
	box-shadow: none;
	display: block;
    margin: 0;
    min-height: 30px;
    height: auto;
	max-width: 100%;
	padding: .75em 1em;
	color: rgba( 0, 0, 0, .75 );
    width: 100%;
	transition: color .25s ease, border-color .25s ease;
}

.wp-block-straightvisions-sv-gutenform-select select.components-select-control__input:hover,
.wp-block-straightvisions-sv-gutenform-select select.components-select-control__input:focus {
	color: rgb( 0, 0, 0 );
	border-color: rgb( 0, 0, 0 );
}

// Options
.sv-gutenform-select-options {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sv-gutenform-select-options .sv-gutenform-select-option {
    background: rgba( 0, 0, 0, .06 );
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.sv-gutenform-select-options .sv-gutenform-select-option > div:last-of-type,
.sv-gutenform-select-options .sv-gutenform-select-option > div:last-of-type > div,
.sv-gutenform-select-options .sv-gutenform-select-option > .sv-gutenform-select-option-flex > div {
    margin-bottom: 0 !important;
}

.sv-gutenform-select-options .sv-gutenform-select-option > .sv-gutenform-select-option-flex {
    display: flex;
    align-items: flex-start;
}

.sv-gutenform-select-options .sv-gutenform-select-option > .sv-gutenform-select-option-flex > div:first-of-type {
    margin-right: 5px;
}

.sv-gutenform-select-options .sv-gutenform-select-option > .components-icon-button {
    margin-left: auto;
    padding: 0;
}

.sv-gutenform-select-options .sv-gutenform-select-option > .components-icon-button > svg {
    width: 18px;
    height: 18px;
}