.wp-block-straightvisions-sv-gutenform > .sv_gutenform_body {
    
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header,
.wp-block-straightvisions-sv-gutenform > .sv_gutenform_body {
    position: relative;
    z-index: 1;
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header {
    color: white;
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header > .sv_gutenform_label_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header > .sv_gutenform_label_wrapper > button.components-button {
    height: auto;
    color: #FFFFFF;
    border: none;
    box-shadow: none !important;
    outline: none;
    background-color: transparent !important;
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header > .sv_gutenform_label_wrapper > button.components-button:hover,
.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header > .sv_gutenform_label_wrapper > button.components-button:focus {
    color: #EEEEEE !important;
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header > .sv_gutenform_label_wrapper > .sv_gutenform_form_label {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header > .sv_gutenform_form_id {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400; 
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #FFFFFF;
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header > .sv_gutenform_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header::after,
.wp-block-straightvisions-sv-gutenform > .sv_gutenform_body::after  {
    z-index: -1;
    content: "";
    position: absolute;
    border: 1px solid transparent;
    border-left: none;
    box-shadow: none;
    pointer-events: none;
    outline: 1px solid transparent;
    right: -13px;
    left: -13px;
    top: -14px;
    bottom: -14px;
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_header::after {
    background-image: linear-gradient(to right top, #3499ff, #3e80e0, #4167c1, #3f50a3, #3a3985);
    border: none;
}

.wp-block-straightvisions-sv-gutenform > .sv_gutenform_body::after {
    border: 3px solid;
    border-image-source: linear-gradient(to right bottom, #3499ff, #3e80e0, #4167c1, #3f50a3, #3a3985);
    border-image-slice: 1;
}